In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rawson,AR,2022-01-25 22:30:38,-43.3002,-65.1023,63.28,62,1,23.94
1,1,Jamestown,US,2022-01-25 22:30:10,42.0970,-79.2353,18.99,41,100,11.50
2,2,Sioux Lookout,CA,2022-01-25 22:30:40,50.1001,-91.9170,-9.02,70,20,6.91
3,3,Baghdad,IQ,2022-01-25 22:30:41,33.3406,44.4009,40.91,70,0,2.30
4,4,Dikson,RU,2022-01-25 22:30:41,73.5069,80.5464,11.75,91,100,30.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Oussouye,SN,2022-01-25 22:30:45,12.4850,-16.5469,78.98,14,100,8.79
10,10,Yaan,NG,2022-01-25 22:30:47,7.3833,8.5667,79.77,14,52,7.45
12,12,Butaritari,KI,2022-01-25 22:30:49,3.0707,172.7902,81.72,79,52,17.36
16,16,Sao Filipe,CV,2022-01-25 22:30:51,14.8961,-24.4956,76.46,60,5,7.45
19,19,Padang,ID,2022-01-25 22:29:10,-0.9492,100.3543,77.88,85,100,3.71
20,20,Ugoofaaru,MV,2022-01-25 22:30:53,5.6667,73.0000,79.63,65,92,9.60
22,22,Arraial Do Cabo,BR,2022-01-25 22:30:56,-22.9661,-42.0278,78.76,83,20,16.11
32,32,Kununurra,AU,2022-01-25 22:28:48,-15.7667,128.7333,76.98,94,100,6.91
36,36,Tomatlan,MX,2022-01-25 22:31:10,19.9333,-105.2500,82.47,46,2,8.63
37,37,Kloulklubed,PW,2022-01-25 22:27:09,7.0419,134.2556,79.30,74,93,21.05

In [14]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7          Oussouye      SN     78.98  12.4850  -16.5469
10             Yaan      NG     79.77   7.3833    8.5667
12       Butaritari      KI     81.72   3.0707  172.7902
16       Sao Filipe      CV     76.46  14.8961  -24.4956
19           Padang      ID     77.88  -0.9492  100.3543
20        Ugoofaaru      MV     79.63   5.6667   73.0000
22  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278
32        Kununurra      AU     76.98 -15.7667  128.7333
36         Tomatlan      MX     82.47  19.9333 -105.2500
37      Kloulklubed      PW     79.30   7.0419  134.2556

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}